<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Add Category')">
<body>

<div th:replace="fragment/nav :: nav"></div>
<div class="row">
    <div class="col-3"></div>

    <div class="col-6">




        <a href="/"​​​ > <button type="button" class="btn default-color-dark white-text mt-3" th:text="#{back-home}">Secondary</button></a>


        <!--                    <form th:action="${isAdd}?'/add':'/update'" method="post" enctype="multipart/form-data">-->
        <form th:action="'/addCategory'" method="post" enctype="multipart/form-data">


            <input type="hidden" th:field="${categories.id}" class="form-control display"  placeholder="Add category"> <br><br>
            <input type="text" th:field="${categories.name}" class="form-control display"  placeholder="Add category"> <br><br>



<!--            <button type="submit" class="btn btn-success" th:value="'Submit'" th:text="#{add}">Success</button>-->

            <input class="btn default-color-dark white-text" type="submit" th:value="'Submit' ">


        </form>
    </div>

    <div class="col-3 "></div>

</div>
</div>

</body>
</html>