<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Home')">

</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="card card-image mb-3">
    <!-- Content -->
    <div class="text-white d-flex justify-content-center ">
        <a class="btn default-color-dark" href="/add" th:text="#{add-article}">Add new Article Here</a>
    </div>
    <!-- Content -->
</div>
<div class="container">
    <form class="filter mb-3 mt-2 d-flex flex-wrap-none" method="get" action="/">

        <input type="text" id="form1" th:field="${filter.title}" placeholder="Search" class="form-control filter_choose mr-2">


        <select class="browser-default custom-select filter_choose" th:field="${filter.cate_id}" >
            <option value="">No filter</option>

            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>

        </select>
        <a ><button type="submit" class="btn default-color-dark white-text " th:text="#{Search}" style="margin-left: 80px; margin-top: -5px;"></button></a>
    </form>
    <table id="dtBasicExample" class="table table-striped">
        <tr class="default-color-dark white-text">

            <th th:text="#{ID}" scope="col">ID</th>
            <th th:text="#{title}" scope="col">Title</th>
            <th th:text="#{desc}" scope="col">Description</th>
            <th th:text="#{author}" scope="col">Author</th>
            <th th:text="#{createDate}" scope="col">Create Date</th>
            <th th:text="#{image}" scope="col">Thumbnail</th>
            <th th:text="#{category}" scope="col">Category</th>
            <th th:text="#{action}" class="text-center" colspan="3" scope="col">Action</th>
        </tr>

        <tr th:each="article: ${articles}" th:object="${article}">
            <td th:text="*{id}">id</td>
            <td th:text="*{title}">Title</td>
            <td th:text="*{description}">Description</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{createdDate}">Create Date</td>
            <th><img style="width: 50px;height: 50px" th:src="'/Image/'+*{imageName}"></th>
            <td th:text="*{category.name}">Category</td>

            <td>
                <a class="btn default-color-dark white-text " style="border-radius: 50%"
                   th:href="@{/delete/{id}(id=*{id})}"><i class="far fa-trash-alt"></i></a>
            </td>
            <td>
                <a class="btn default-color-dark white-text " style="border-radius: 50%"
                   th:href="@{/update/{id}(id=*{id})}"><i class="far fa-edit"></i></a>
            </td>
            <td>
                <a class="btn default-color-dark white-text " style="border-radius: 50%"
                   th:href="@{/view/{id}(id=*{id})}"><i class="far fa-eye"></i></a>
            </td>
        </tr>
    </table>
    <!--pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue">
            <li class="page-item disabled">
                <a class="page-link" th:text="#{previous}" th:href="@{/(page=1,title=${filter.title},cate_id=${filter.cate_id})}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link"  th:href="@{/(page=${paging.previousPage},title=${filter.title},cate_id=${filter.cate_id})}"></a>
            </li>
            <li th:each="i:${#numbers.sequence(paging.startPage,paging.endPage)}" th:class="${paging.page}==${i}?:'page-item active'">
                <a class="page-link"  th:text="${i}" th:href="@{/(page=${i},title=${filter.title},cate_id=${filter.cate_id})}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"  th:href="@{/(page=${paging.nextPage},title=${filter.title},cate_id=${filter.cate_id})}"></a></li>
            <li class="page-item">
                <a class="page-link"  th:text="#{next}" th:href="@{/(page=${paging.totalPage},title=${filter.title},cate_id=${filter.cate_id})}">Next</a>
            </li>
        </ul>
    </nav>

</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>