<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('List Category')">
<body>
<div th:replace="fragment/nav :: nav"></div>

    <div class="row">
        <div class="md-form">

        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            <a class="btn default-color-dark white-text" href="/addCategory" th:text="#{add-category}">Add new Article Here</a>
            <table class="table table-striped table-responsive-md btn-table mt-5" >
                <thead class="default-color-dark white-text">
                <th th:text="#{ID}">ID</th>
                <th th:text="#{category}">CATEGORY</th>
                <th th:text="#{action}" style="text-align:center">ACTION</th>

                </thead>

                <tr th:each="category: ${categories}" th:object="${category}">
                    <td><b th:text="*{id}">id</b></td>
                    <td th:text="*{name}">Category</td>
                    <td  style="text-align: center;" >
                        <a th:href="@{/editCategory/{id}(id=*{id})}"> <button type="button" class="btn default-color-dark white-text " th:text="#{update}" style=" width: 120px;"></button></a>
                        <a th:href="@{/view/{id}(id=*{id})}"> <button type="button" class="btn default-color-dark white-text"th:text="#{view}"style=" width: 120px;" ></button></a>
                    </td>

                </tr>
            </table>

        </div>

    </div>
</div>

</body>
</html>