<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Update Acticle')"></head>
<body>
<div th:replace="fragment/nav :: nav"></div>

<div class="container">
    <h1 class=" btn mdb-color white-text p-2">Update</h1>

    <a class="btn white-text default-color-dark" href="/">Back to HomePage</a>

    <form class="border border-light p-5" action="/update" method="post"
          enctype="multipart/form-data">

        <div class="row" th:object="${article}">
            <div class="col-8">
                <div style="display: none">
                    ID :
                    <input class="form-control mb-4" type="text" th:field="*{id}">
                </div>
                Title : <span th:if="${#fields.hasErrors('title')}" th:errors="${title}"
                              style="color: red"></span>

                <input class="form-control mb-4" type="text" th:field="${article.title}">

                Description : <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></span>
                <input class="form-control mb-4" type="text" th:field="${article.description}">

                Author :<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red"></span>

                <input class="form-control mb-4" type="text" th:field="${article.author}">

                Category :<span></span>
                <select class="form-control mb-4" th:field="${article.category.id}"  >

                    <option th:each="category : ${categories}"
                            th:value="${category.id}" th:text="${category.name}"
                    ></option>

                </select>
                <input type="hidden" th:value="${categories}">

            </div>
            <div class="col-4 text-white default-color-dark">
                <h4 class="my-3">Chose Image for Article</h4>
                <input type="file" name="file">
            </div>

        </div>

        <input class="btn text-white default-color-dark" type="submit" th:value="'Save'">
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>