<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('View')"></head>
<body th:object="${article}">
    <div th:replace="fragment/nav :: nav"></div>
    <div class="container">
        <a class="btn white-text default-color-dark" href="/">Back to HomePage</a>
        <div class="row">
            <div class="col-8">

                <p th:text="'ID :  '+*{id}"></p>
                <p th:text="'Title :  '+*{title}"></p>
                <p th:text="'Description :  '+*{description}"></p>
                <p th:text="'Author :  '+*{author}"></p>
                <p th:text="'Date :  '+*{createdDate}"></p>
            </div>
            <div class="col-4 text-white">
                <img style="width: 256px;height: 360px" th:src="'/Image/'+*{imageName}">
            </div>
        </div>
        <hr>
        <p>
           This is Good Article 
        </p>
    </div>
    <div th:replace="fragment/footer :: footer"></div>

</body>
</html>