<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg default-color-dark white-text ">
        <div class="container">
            <a class="navbar-brand white-text" href="/"><i class="fas fa-book-reader"></i>&nbsp; <strong
                    th:text="#{article-management}">Article Management</strong> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                </ul>
                <span class="navbar-text white-text">
                  <ul class="navbar-nav">
                          <li class="nav-item active">

                        <a class="nav-link white-text" href="/"> <i class="fas fa-home"></i><strong th:text="#{home}">
                            Home </strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="/listCategory"><i class="fas fa-list"></i><strong th:text="#{type}">Type</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="#"> <i class="fas fa-exclamation-circle"></i><strong
                                th:text="#{about}"> About us</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=en"><i class="fas fa-globe"></i><strong
                                th:text="#{english}">English</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=kh" th:text="#{khmer}">Khmer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=kr" th:text="#{korea}">Korea</a>
                    </li>
                  </ul>
                 </span>
            </div>
        </div>
    </nav>
</div>
</body>
</html>